.row
  .col-md-10.col-md-offset-1
    = @nda.formatted_body
.row
  .col-md-10.col-md-offset-1
    #signature-container
      = simple_form_for @signature do |f|
        = f.input :name, label: false, placeholder: "Your Full Name"
        .sig.sigWrapper
          %i.icon-remove#sig-x
          %canvas.pad{:height => "200", :width => "968", style: "border: 1px solid"}
          = f.input :drawn_signature, as: :hidden

        .actions
          %button{ class: "btn btn-danger btn-lg", style: "margin-right: 10px" }Clear Signature
          = f.submit "Submit Document Signature", class: "btn btn-primary btn-lg"
