!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : ENV["SITE_NAME"]
      %meta{:content => content_for?(:description) ? yield(:description) : "Nda App", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application", "turbolinks"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    #main{:role => "main"}
      - if content_for?(:action_bar)
        = content_for(:action_bar)
      .container
        .row
          .col-md-12
            = render 'layouts/messages'
            = yield
        %footer
    / ! end of .container
  / ! end of #main
